{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
About Us
{% endblock title %}

{% block content %}

    <!-- Page Header Start here -->
    <section class="page-header section-notch">
      <div class="overlay">
        <div class="container">
          <h3>About Jyoti's Noddy Play School</h3>
          <ul>
            <li><a href="{% url "website:index" %}">Home</a></li>
            <li>-</li>
            <li>About us</li>
          </ul>
        </div><!-- container -->
      </div><!-- overlay -->
    </section><!-- page header -->
  	<!-- Page Header End here -->


  	<!-- facility Start here -->

  	<!-- facility End here -->


  	<!-- About Start here -->
  	<section class="about section-notch">
  		<div class="overlay padding-120">
	  		<div class="container">
	  			<div class="row">
	  				<div class="col-md-6">
	  					<div class="about-image">
	  						<img src="{% static "images/about/about.png" %}" alt="about image" class="img-responsive">
	  					</div>
	  				</div>
	  				<div class="col-md-6">
	  					<div class="about-content">
	  						<h3>About Our Institute</h3>
	  						<p>
                  One of the most far-reaching decisions parents can make is the choice of a play school for their children. Now finding the right one is no more difficult.
                  Jyoti’s Noddy Play School (formerly known as Noddys Play School) was established in 1989.
                  The environment at Jyoti’s Noddy Play School is designed to make kids feel at home and continue to help them develop into responsible young adults.
                  Classes are small and the staff carefully selected. There is a feeling of family and a rich and fertile atmosphere for ideas and creativity to grow. Our program not only prepares its young graduates to face the challenge of the future, but also instils within them such essential qualities as self-reliance, self-discipline, leadership and social grace.
                </p>
							<ul>
							</ul>
	  					</div><!-- about content -->
	  				</div>
	  			</div><!-- row -->
	  		</div><!-- container -->
  		</div><!-- overlay -->
  	</section><!-- about -->
  	<!-- About End here -->


    <!-- Features Start here -->
    <section class="features padding-120">
      <div class="container">
        <div class="section-header">
          <h3>Why Choose Noddy's Play School</h3>
          <p>Rapidiously expedite granular imperatives before economically sound web services. Credibly actualize pandemic strategic themeplatform.</p>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="features-left">
              <div class="feature-item">
                <div class="icon flaticon-people-1"></div>
                <div class="content">
                  <h4>The Environment</h4>
                    <p>The environment at Jyoti’s Noddy Play School is designed to make kids feel at home and continue to help them develop into responsible young adults.
                  </p>
                </div>
              </div><!-- feature item -->
              <div class="feature-item">
                <div class="icon flaticon-symbols"></div>
                <div class="content">
                  <h4>Small Classes</h4>
                  <p>Classes are small and the staff carefully selected. There is a feeling of family and a rich and fertile atmosphere for ideas and creativity to grow.</p>
                </div>
              </div><!-- feature item -->
              <div class="feature-item">
                <div class="icon flaticon-microphone"></div>
                <div class="content">
                  <h4>Music And Art Class</h4>
                  <p>Our program not only prepares its young graduates to face the challenge of the future, but also instils within them such essential qualities as self-reliance, self-discipline, leadership and social grace.
                  </p>
                </div>
              </div><!-- feature item -->
            </div><!-- feature left -->
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="feature-image">
              <img src="{% static "images/feature.jpg" %}" alt="feature image" class="img-responsive">
            </div>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="features-right">
              <div class="feature-item">
                <div class="icon flaticon-home"></div>
                <div class="content">
                  <h4>Play, Grow, Lear and Smile</h4>
                  <p>Each day we provide a selection of structured and unstructured activities, offering children plenty of choice.</p>
                </div>
              </div><!-- feature item -->
              <div class="feature-item">
                <div class="icon flaticon-line-chart"></div>
                <div class="content">
                  <h4>Safety</h4>
                  <p>Jyoti’s Noddy Play School provides a safe, nurturing and developmentally appropriate program which fosters active learning in a child friendly environment.
                  </p>
                </div>
              </div><!-- feature item -->
              <div class="feature-item">
                <div class="icon flaticon-signs"></div>
                <div class="content">
                  <h4>Our Vision</h4>
                  <p>Our vision is to be recognized as outstanding childcare programs, creating societies next generation of leaders through play, exploration and coaching.
                  </p>
                </div>
              </div><!-- feature item -->
            </div><!-- feature left -->
          </div>
        </div><!-- row -->
      </div><!-- container -->
    </section><!-- features -->
    <!-- Features End here -->


  	{% include "testimonial.html" %}


{% endblock content %}
