{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock title %} | Best Play School in Delhi | Jyoti's Noddy Play School</title>
    <link href="images/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="{% static "assets/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Font-awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Flaticon -->
    <link href="{% static "assets/flaticon/flaticon.css" %}" rel="stylesheet">

    <!-- lightcase -->
    <link href="{% static "assets/css/lightcase.css" %}" rel="stylesheet">

    <!-- Swiper -->
    <link href="{% static "assets/css/swiper.min.css" %}" rel="stylesheet">

    <!-- quick-view -->
    <link href="{% static "assets/css/quick-view.css" %}" rel="stylesheet">

    <!-- nstSlider -->
    <link href="{% static "assets/css/jquery.nstSlider.css" %}" rel="stylesheet">

    <!-- flexslider -->
    <link href="{% static "assets/css/flexslider.css" %}" rel="stylesheet">

    <!-- Style -->
    <link href="{% static "assets/css/style.css" %}" rel="stylesheet">

    <!-- Responsive -->
    <link href="{% static "assets/css/responsive.css" %}" rel="stylesheet">


  </head>

  <body>

    {% include "header.html" %}
    {% block content %}
    {% endblock content %}
    {% include "footer.html" %}

    <!-- jquery -->
    <script src="{% static "assets/js/jquery-1.12.4.min.js" %}"></script>

    <!-- Bootstrap -->
    <script src="{% static "assets/js/bootstrap.min.js" %}"></script>

    <!-- Isotope -->
    <script src="{% static "assets/js/isotope.min.js" %}"></script>

    <!-- lightcase -->
    <script src="{% static "assets/js/lightcase.js" %}"></script>

    <!-- counterup -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="{% static "assets/js/jquery.counterup.min.js" %}"></script>

    <!-- Swiper -->
    <script src="{% static "assets/js/swiper.jquery.min.js" %}"></script>

    <!--progress-->
    <script src="{% static "assets/js/circle-progress.min.js" %}"></script>

    <!--velocity-->
    <script src="{% static "assets/js/velocity.min.js" %}"></script>

    <!--quick-view-->
    <script src="{% static "assets/js/quick-view.js" %}"></script>

    <!--nstSlider-->
    <script src="{% static "assets/js/jquery.nstSlider.js" %}"></script>

    <!--flexslider-->
    <script src="{% static "assets/js/flexslider-min.js" %}"></script>

    <!--easing-->
    <script src="{% static "assets/js/jquery.easing.min.js" %}"></script>

    <!-- custom -->
    <script src="{% static "assets/js/custom.js" %}"></script>

  </body>
  </html>
