{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Classes
{% endblock title %}

{% block content %}

    <!-- Page Header Start here -->
    <section class="page-header section-notch">
      <div class="overlay">
        <div class="container">
          <h3>Classes at Jyoti's Noddy Play School</h3>
          <ul>
            <li><a href="{% url "website:index" %}">Home</a></li>
            <li>-</li>
            <li>Classes</li>
          </ul>
        </div><!-- container -->
      </div><!-- overlay -->
    </section><!-- page header -->
  	<!-- Page Header End here -->


    <!-- Classes Start here -->
    <section class="classes padding-120">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="class-item">
              <div class="image">
                <img src="{% static "images/classes/class_01.jpg" %}" alt="class image" class="img-responsive">
              </div>
              <ul class="schedule">
                <li>
                  <span>Class Size</span>
                  <span>30 - 40</span>
                </li>
                <li>
                  <span>Years Old</span>
                  <span>5 - 6</span>
                </li>
              </ul>
              <div class="content">
                <h4><a href="class-single.html">Multipurpose Activitty Room</a></h4>
                <p><span>Class Time</span> : 08:00 am - 10:00 am</p>
                <p>We have colourful doors to welcome you. Kids do dance, yoga, skating, teakawondo. Audio visual. Stage performance. Parent meetings. Seating capacity of 60 adults.
                </p>
              </div>
            </div><!-- class item -->
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="class-item">
              <div class="image">
                <img src="{% static "images/classes/class_02.jpg" %}" alt="class image" class="img-responsive">
              </div>
              <ul class="schedule">
                <li>
                  <span>Class Size</span>
                  <span>30 - 40</span>
                </li>
                <li>
                  <span>Years Old</span>
                  <span>5 - 6</span>
                </li>
              </ul>
              <div class="content">
                <h4><a href="class-single.html">Sports Room</a></h4>
                <p><span>Class Time</span> : 08:00 am - 10:00 am</p>
                <p>Activities to overcome fears....The sports room is equipped with trampoline, wall climbing, Burma Bridge, command net.
                </p>
              </div>
            </div><!-- class item -->
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="class-item">
              <div class="image">
                <img src="{% static "images/classes/class_03.jpg" %}" alt="class image" class="img-responsive">
              </div>
              <ul class="schedule">
                <li>
                  <span>Class Size</span>
                  <span>30 - 40</span>
                </li>
                <li>
                  <span>Years Old</span>
                  <span>5 - 6</span>
                </li>
              </ul>
              <div class="content">
                <h4><a href="class-single.html">Ball Pool</a></h4>
                <p><span>Class Time</span> : 08:00 am - 10:00 am</p>
                <p>An absolute super hit with kids to keep them completely engaged in fun'n'frolic activities.
                </p>
              </div>
            </div><!-- class item -->
          </div>
        </div><!-- row -->
      </div><!-- container -->
    </section><!-- classes -->
    <!-- Classes End here -->

    <section class="classes">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>Enter an enchanting world from the moment you step inside the Play room Every aspect of the Play room has been curated to offer kids an experience like no place else. </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="class-item">
              <div class="image">
                <img src="{% static "images/classes/class_01.jpg" %}" alt="class image" class="img-responsive">
              </div>
              <ul class="schedule">
                <li>
                  <span>Class Size</span>
                  <span>30 - 40</span>
                </li>
                <li>
                  <span>Years Old</span>
                  <span>5 - 6</span>
                </li>
              </ul>
              <div class="content">
                <h4><a href="class-single.html">Mushroom Room</a></h4>
                <p><span>Class Time</span> : 08:00 am - 10:00 am</p>
                <p>We have colourful doors to welcome you. Kids do dance, yoga, skating, teakawondo. Audio visual. Stage performance. Parent meetings. Seating capacity of 60 adults.
                </p>
              </div>
            </div><!-- class item -->
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="class-item">
              <div class="image">
                <img src="{% static "images/classes/class_01.jpg" %}" alt="class image" class="img-responsive">
              </div>
              <ul class="schedule">
                <li>
                  <span>Class Size</span>
                  <span>30 - 40</span>
                </li>
                <li>
                  <span>Years Old</span>
                  <span>5 - 6</span>
                </li>
              </ul>
              <div class="content">
                <h4><a href="class-single.html">Jungle Room</a></h4>
                <p><span>Class Time</span> : 08:00 am - 10:00 am</p>
                <p>We have colourful doors to welcome you. Kids do dance, yoga, skating, teakawondo. Audio visual. Stage performance. Parent meetings. Seating capacity of 60 adults.
                </p>
              </div>
            </div><!-- class item -->
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="class-item">
              <div class="image">
                <img src="{% static "images/classes/class_01.jpg" %}" alt="class image" class="img-responsive">
              </div>
              <ul class="schedule">
                <li>
                  <span>Class Size</span>
                  <span>30 - 40</span>
                </li>
                <li>
                  <span>Years Old</span>
                  <span>5 - 6</span>
                </li>
              </ul>
              <div class="content">
                <h4><a href="class-single.html">Star Room</a></h4>
                <p><span>Class Time</span> : 08:00 am - 10:00 am</p>
                <p>We have colourful doors to welcome you. Kids do dance, yoga, skating, teakawondo. Audio visual. Stage performance. Parent meetings. Seating capacity of 60 adults.
                </p>
              </div>
            </div><!-- class item -->
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="class-item">
              <div class="image">
                <img src="{% static "images/classes/class_02.jpg" %}" alt="class image" class="img-responsive">
              </div>
              <ul class="schedule">
                <li>
                  <span>Class Size</span>
                  <span>30 - 40</span>
                </li>
                <li>
                  <span>Years Old</span>
                  <span>5 - 6</span>
                </li>
              </ul>
              <div class="content">
                <h4><a href="class-single.html">Smiley Room</a></h4>
                <p><span>Class Time</span> : 08:00 am - 10:00 am</p>
                <p>Activities to overcome fears....The sports room is equipped with trampoline, wall climbing, Burma Bridge, command net.
                </p>
              </div>
            </div><!-- class item -->
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="class-item">
              <div class="image">
                <img src="{% static "images/classes/class_03.jpg" %}" alt="class image" class="img-responsive">
              </div>
              <ul class="schedule">
                <li>
                  <span>Class Size</span>
                  <span>30 - 40</span>
                </li>
                <li>
                  <span>Years Old</span>
                  <span>5 - 6</span>
                </li>
              </ul>
              <div class="content">
                <h4><a href="class-single.html">Gems Room</a></h4>
                <p><span>Class Time</span> : 08:00 am - 10:00 am</p>
                <p>An absolute super hit with kids to keep them completely engaged in fun'n'frolic activities.
                </p>
              </div>
            </div><!-- class item -->
          </div>
        </div><!-- row -->
      </div><!-- container -->
    </section>


{% endblock content %}
