{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Contact Us{% endblock title %}

{% block content %}

    <!-- Page Header Start here -->
    <section class="page-header section-notch">
      <div class="overlay">
        <div class="container">
          <h3>Our Contact Info</h3>
          <ul>
            <li><a href="{% url "website:index" %}">Home</a></li>
            <li>-</li>
            <li>Contact us</li>
          </ul>
        </div><!-- container -->
      </div><!-- overlay -->
    </section><!-- page header -->
  	<!-- Page Header End here -->


    <!-- Contact Start here -->
    <section class="contact contact-page">
      <div class="contact-details padding-120">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul>
                <li class="contact-item">
                  <span class="icon flaticon-signs"></span>
                  <div class="content">
                    <h4>Our Location</h4>
                    <p>F-100, Kirti Nagar, New Delhi 110015</p>
                  </div>
                </li>
                <li class="contact-item">
                  <span class="icon flaticon-smartphone"></span>
                  <div class="content">
                    <h4>Phone Number</h4>
                    <p>+91-9899266339</p>
                  </div>
                </li>
                <li class="contact-item">
                  <span class="icon flaticon-message"></span>
                  <div class="content">
                    <h4>Email Address</h4>
                    <p>gulatiatul@yahoo.com</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-md-8 col-sm-6 col-xs-12">
              <form class="contact-form">
                <input type="text" name="name" placeholder="Your Name" class="contact-input">
                <input type="email" name="email" placeholder="Your Email" class="contact-input">
                <textarea rows="5" class="contact-input">Your Messages</textarea>
                <input type="submit" name="submit" value="Send Message" class="contact-button">
              </form>
            </div>
          </div><!-- row -->
        </div><!-- container -->
      </div><!-- contact-details -->
	  <div class="contact-map" id="map-canvas"></div>
    </section>
    <!-- Contact End here -->

    <script type="text/javascript">
      //Home Page map
      var styleArray = [
        {
        "featureType": "water",
        "elementType": "geometry.fill",
        "stylers": [
          {
          "color": "#65ac4c"
          }
        ]
        }
      ];

      var mapOptions = {
        center: new google.maps.LatLng(55.864237,-4.251806),
        zoom: 09,
        styles: styleArray,
        scrollwheel: false,
        backgroundColor: 'transparent',
        mapTypeControl: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("map-canvas"),
        mapOptions);
      var myLatlng = new google.maps.LatLng(55.864237,-4.251806);
      var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        icon: 'images/map-icon.png'
      });
    </script>

  {% endblock content %}
