<!-- Subscribe Start here -->
<section class="subscribe subscribe-two">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-12 col-xs-12">
        <h3>Join Our Newsletter</h3>
      </div>
      <div class="col-md-7 col-sm-12 col-xs-12">
        <form action="http://demos.codexcoder.com/">
          <input type="text" placeholder="Enter your e-mail here">
          <input type="submit" value="Subscribe Now">
        </form>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</section><!-- subscribe -->
<!-- Subscribe End here -->

<!-- Footer Start here -->
<footer>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <p>&copy; 2017. Jyoti's Noddy Play School. Designed By <a href="https://www.delhinerds.com" target="_blank">Delhi Nerds</a></p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <ul class="social-default">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- footer bottom -->
</footer>
<!-- Footer End here -->
