{% load staticfiles %}

<header class="header-two">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a class="logo" href="{% url "website:index" %}"><img src="{% static "images/logo.png" %}" alt="logo" class="img-responsive"></a>
        </div>
        <div class="col-md-9" style="padding-top:30px;">
          <ul class="top-contents">
            <li>
              <i class="icon flaticon-phone-call"></i>
              <div class="content">
                <p>Call Us Anytime</p>
                <span>+91-9899266339</span>
              </div>
            </li>
            <li>
              <i class="icon flaticon-alarm-clock"></i>
              <div class="content">
                <p>Opening Time</p>
                <span>9:15am-12:30pm</span>
              </div>
            </li>
            <li>
              <i class="icon flaticon-signs"></i>
              <div class="content">
                <p>Our Address</p>
                <span>F-100, Kirti Nagar, Delhi</span>
              </div>
            </li>
          </ul>
        </div>
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- header top -->
    <div class="main-menu">
      <nav class="navbar ">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="{% static "images/logo.png" %}" alt="logo" class="img-responsive"></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="{% url "website:index" %}">Home</a></li>
              <li><a href="{% url "website:about" %}">About Us</a></li>
              <li><a href="{% url "website:classes" %}">Classes</a></li>
              <li><a href="/pages/programs/">Our Programs</a></li>
              <li><a href="{% url "website:index" %}">Gallery</a></li>
              <li><a href="{% url "website:management" %}">Management</a></li>
              <li><a href="{% url "website:contact" %}">Contact Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><span class="menu-search"><i class="fa fa-search" aria-hidden="true"></i></span></li>
              <li class="menu-button"><a href="#" class="button-default">Admissions</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
  </div><!-- main menu -->
</header>
<!-- header End here -->
