{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Home{% endblock title %}

{% block content %}

    <!-- Banner Start here -->
    <section class="banner banner-two">
      <div class="banner-slider swiper-container">
        <div class="swiper-wrapper">
          <div class="banner-item slide-one swiper-slide">
            <div class="banner-overlay"></div>
              <div class="container">
                <div class="banner-content">
                  <h3>Welcome to Jyoti's Noddy Place School</h3>
                  <h2>A Home Away from Home</h2>
                  <p>One of the most far-reaching decisions parents can make is the choice of a play school for their children. Now finding the right one is no more difficult.
                  </p>
                </div><!-- banner-content -->
              </div><!-- container -->
          </div><!-- slide item -->
          <div class="banner-item slide-two swiper-slide">
            <div class="banner-overlay"></div>
              <div class="container">
                <div class="banner-content">
                  <h3>After School Awareness Program (ASAP)</h3>
                  <h2>The future leader's programs</h2>
                  <p>Under ASAP we conduct “The Future Leaders Program” which gives students the chance to learn and develop leadership skills together.</p>
                </div><!-- banner-content -->
              </div><!-- container -->
          </div><!-- slide item -->

        </div><!-- swiper-wrapper -->
        <div class="swiper-pagination"></div>
      </div><!-- swiper-container -->
    </section><!-- banner -->
    <!-- Banner End here -->


  	<!-- facility Start here -->
  	<section class="facility facility-two">
  		<div class="container">
				<div class="facility-items">
          <div class="facility-item">
            <div class="front-part">
              <span class="icon-two flaticon-symbols"></span>
              <h4>Active Learning</h4>
            </div>
            <div class="back-part">
              <span class="icon-two flaticon-symbols"></span>
              <h4>Active Learning</h4>
              <p>Distinctively enhance empowered and alignments without leveraged architectures professionly.</p>
            </div>
          </div><!-- facility item -->
          <div class="facility-item">
            <div class="front-part">
              <span class="icon-two flaticon-avatar"></span>
              <h4>Expert Teachers</h4>
            </div>
            <div class="back-part">
              <span class="icon-two flaticon-avatar"></span>
              <h4>Expert Teachers</h4>
              <p>Distinctively enhance empowered and alignments without leveraged architectures professionly.</p>
            </div>
          </div><!-- facility item -->
          <div class="facility-item">
            <div class="front-part">
              <span class="icon-two flaticon-world"></span>
              <h4>Convenient Location</h4>
            </div>
            <div class="back-part">
              <span class="icon-two flaticon-world"></span>
              <h4>Strategi Location</h4>
              <p>Distinctively enhance empowered and alignments without leveraged architectures professionly.</p>
            </div>
          </div><!-- facility item -->
          <div class="facility-item">
            <div class="front-part">
              <span class="icon-two flaticon-line-chart"></span>
              <h4>Day Care</h4>
            </div>
            <div class="back-part">
              <span class="icon-two flaticon-line-chart"></span>
              <h4>Full Day Programs</h4>
              <p>Distinctively enhance empowered and alignments without leveraged architectures professionly</p>
            </div>
          </div><!-- facility item -->
        </div><!-- facility items -->
  		</div><!-- container -->
  	</section><!-- facility -->
  	<!-- facility End here -->


  	<!-- About Start here -->
  	<section class="about about-two padding-120">
  		<div class="container">
  			<div class="row">
  				<div class="col-md-6">
  					<div class="about-image">
  						<img src="{% static "images/about/about-2.png" %}" alt="about image" class="img-responsive">
  					</div>
  				</div>
  				<div class="col-md-6">
  					<div class="about-content">
  						<h3>Welcome to Jyoti's Noddy Play School</h3>
  						<p>
                One of the most far-reaching decisions parents can make is the choice of a play school for their children. Now finding the right one is no more difficult.<br /><br />
                Jyoti’s Noddy Play School (formerly known as Noddys Play School) was established in 1989.<br /><br />
                The environment at Jyoti’s Noddy Play School is designed to make kids feel at home and continue to help them develop into responsible young adults.
              </p>
  					</div><!-- about content -->
  				</div>
  			</div><!-- row -->
  		</div><!-- container -->
  	</section><!-- about -->
  	<!-- About End here -->

    <!-- Features Start here -->
    <section class="features padding-120">
      <div class="container">
        <div class="section-header">
          <h3>Why Choose Noddy's Play School</h3>
          <p>Rapidiously expedite granular imperatives before economically sound web services. Credibly actualize pandemic strategic themeplatform.</p>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="features-left">
              <div class="feature-item">
                <div class="icon flaticon-people-1"></div>
                <div class="content">
                  <h4>The Environment</h4>
                    <p>The environment at Jyoti’s Noddy Play School is designed to make kids feel at home and continue to help them develop into responsible young adults.
                  </p>
                </div>
              </div><!-- feature item -->
              <div class="feature-item">
                <div class="icon flaticon-symbols"></div>
                <div class="content">
                  <h4>Small Classes</h4>
                  <p>Classes are small and the staff carefully selected. There is a feeling of family and a rich and fertile atmosphere for ideas and creativity to grow.</p>
                </div>
              </div><!-- feature item -->
              <div class="feature-item">
                <div class="icon flaticon-microphone"></div>
                <div class="content">
                  <h4>Music And Art Class</h4>
                  <p>Our program not only prepares its young graduates to face the challenge of the future, but also instils within them such essential qualities as self-reliance, self-discipline, leadership and social grace.
                  </p>
                </div>
              </div><!-- feature item -->
            </div><!-- feature left -->
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="feature-image">
              <img src="{% static "images/feature.jpg" %}" alt="feature image" class="img-responsive">
            </div>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="features-right">
              <div class="feature-item">
                <div class="icon flaticon-home"></div>
                <div class="content">
                  <h4>Play, Grow, Lear and Smile</h4>
                  <p>Each day we provide a selection of structured and unstructured activities, offering children plenty of choice.</p>
                </div>
              </div><!-- feature item -->
              <div class="feature-item">
                <div class="icon flaticon-line-chart"></div>
                <div class="content">
                  <h4>Safety</h4>
                  <p>Jyoti’s Noddy Play School provides a safe, nurturing and developmentally appropriate program which fosters active learning in a child friendly environment.
                  </p>
                </div>
              </div><!-- feature item -->
              <div class="feature-item">
                <div class="icon flaticon-signs"></div>
                <div class="content">
                  <h4>Our Vision</h4>
                  <p>Our vision is to be recognized as outstanding childcare programs, creating societies next generation of leaders through play, exploration and coaching.
                  </p>
                </div>
              </div><!-- feature item -->
            </div><!-- feature left -->
          </div>
        </div><!-- row -->
      </div><!-- container -->
    </section><!-- features -->
  	<!-- Features End here -->


  	<!-- Gallery Start here -->
  	<section class="gallery gallery-two">
  		<div class="overlay padding-120">
  			<div class="section-header bg">
          <h3>Our School Gallery</h3>
          <p>Rapidiously expedite granular imperatives before economically sound web services. Credibly actualize pandemic strategic themeplatform.</p>
        </div>

          <div class="gallery-two-items">
            <div class="gallery-item">
              <div class="gallery-image">
                <img src="images/gallery/gallery_07.jpg" alt="gallery image" class="img-responsive">
                <div class="gallery-overlay"><div class="bg"></div></div>
                <div class="gallery-content">
                  <a href="images/gallery/gallery_bg_01.jpg" data-rel="lightcase:myCollection"><i class="icon flaticon-expand"></i></a>
                  <h4>Product Name Here</h4>
                  <span>By: KidsAcademy Theme</span>
                </div>
              </div>
            </div><!-- gallery item -->
            <div class="gallery-item">
              <div class="gallery-image">
                <img src="images/gallery/gallery_08.jpg" alt="gallery image" class="img-responsive">
                <div class="gallery-overlay"><div class="bg"></div></div>
                <div class="gallery-content">
                  <a href="images/gallery/gallery_bg_01.jpg" data-rel="lightcase:myCollection"><i class="icon flaticon-expand"></i></a>
                  <h4>Product Name Here</h4>
                  <span>By: KidsAcademy Theme</span>
                </div>
              </div>
            </div><!-- gallery item -->
            <div class="gallery-item">
              <div class="gallery-image">
                <img src="images/gallery/gallery_09.jpg" alt="gallery image" class="img-responsive">
                <div class="gallery-overlay"><div class="bg"></div></div>
                <div class="gallery-content">
                  <a href="images/gallery/gallery_bg_01.jpg" data-rel="lightcase:myCollection"><i class="icon flaticon-expand"></i></a>
                  <h4>Product Name Here</h4>
                  <span>By: KidsAcademy Theme</span>
                </div>
              </div>
            </div><!-- gallery item -->
            <div class="gallery-item">
              <div class="gallery-image">
                <img src="images/gallery/gallery_10.jpg" alt="gallery image" class="img-responsive">
                <div class="gallery-overlay"><div class="bg"></div></div>
                <div class="gallery-content">
                  <a href="images/gallery/gallery_bg_01.jpg" data-rel="lightcase:myCollection"><i class="icon flaticon-expand"></i></a>
                  <h4>Product Name Here</h4>
                  <span>By: KidsAcademy Theme</span>
                </div>
              </div>
            </div><!-- gallery item -->
          </div><!-- gallery items -->
          <div class="gallery-button"><a href="gallery.html" class="button-default">View More Gallery</a></div>
  		</div><!-- overlay -->
  	</section><!-- gallery -->
  	<!-- Gallery End here -->


  	{% include "testimonial.html" %}


{% endblock content %}
