{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Our Management
{% endblock title %}

{% block content %}

    <!-- Page Header Start here -->
    <section class="page-header section-notch">
      <div class="overlay">
        <div class="container">
          <h3>Meet Our Teachers</h3>
          <ul>
            <li><a href="{% url "website:index" %}">Home</a></li>
            <li>-</li>
            <li>Teachers</li>
          </ul>
        </div><!-- container -->
      </div><!-- overlay -->
    </section><!-- page header -->
  	<!-- Page Header End here -->


    <!-- Teachers Start here -->
    <section class="teachers teachers-page">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="teacher-item">
              <div class="teacher-image">
                <img src="{% static "images/teachers/teacher_01.jpg" %}" alt="teacher image" class="img-responsive">
              </div>
              <div class="teacher-content">
                <h4>Mrs. Jyoti Gulati</h4>
                <p>Jyoti’s Noddy Play School is the brainchild of Mrs. Jyoti Gulati.
                  Our Founder (Jyoti Gulati) holds a qualified teaching degree in Education and over 30 years of professional child care experience, including five years working with under privileged children and families. She is enthusiastic about instilling best practice in Early Childhood Education. Besides being an educationist, she has been doing social work for community health and development.
                </p>
              </div>
            </div><!-- teacher item -->
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="teacher-item">
              <div class="teacher-image">
                <img src="{% static "images/teachers/teacher_02.jpg" %}" alt="teacher image" class="img-responsive">
              </div>
              <div class="teacher-content">
                <h4>Director: Mr. Atul Gulati</h4>
                <p>
                  Mr. Atul Gulati has been associated with Jyoti’s Noddy Play School since inception and comes from finance background
                  He Encourages high standards in all aspects of school life and contributes to the effective and efficient management of the school.
                  He likes to promote a school culture that is happy, purposeful and productive and love to provides support and motivates children, parents, teachers and other school employees.
                </p>
              </div>
            </div><!-- teacher item -->
          </div>
        </div><!-- row -->
      </div><!-- container -->
    </section><!-- teacher -->
    <!-- Teachers End here -->

    <section>
      <div class="container">
        <h2>Our Teachers</h2>
        <div class="row">
          <div class="col-md-6">
            <ul>
              <li>A</li>
              <li>B</li>
              <li>C</li>
              <li>D</li>
            </ul>
          </div>
          <div class="col-md-6">
            <li>A</li>
            <li>B</li>
            <li>C</li>
            <li>D</li>
          </div>
        </div>
      </div>
    </section>


{% endblock content %}
