<!-- Testimonial Start here -->
<section class="testimonial padding-120">
  <div class="container">
    <div class="section-header">
    <h3>What Parents Say</h3>
  </div>
  <div class="testimonial-items">
    <div class="testimonial-slider swiper-container">
      <div class="swiper-wrapper">
        {% for each in test %}
          <div class="testimonial-item swiper-slide">
            <div class="testimonial-details">
              <p>{{each.testimonial|safe}}</p>
              <h4>{{each.parent_name}}<span>{{each.parent_title}}</span></h4>
              <img src="images/testimonial/testimonial_icon_01.jpg" alt="testimonial icon" class="img-responsive">
            </div>
            <div class="testimonial-image">
              <img src="{{each.parent_image.url}}" alt="client image" class="img-responsive">
            </div>
          </div><!-- testimonial-item -->
        {% endfor %}
      </div><!-- swiper-wrapper -->
    </div><!-- swiper-container -->
      </div><!-- testimonial-items -->
  </div><!-- container -->
</section><!-- testimonial -->
<!-- Testimonial End here -->
