{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
{{flatpage.title}}
{% endblock title %}

{% block content %}

    <!-- Page Header Start here -->
    <section class="page-header section-notch">
      <div class="overlay">
        <div class="container">
          <h3>{{flatpage.title}}</h3>
          <ul>
            <li><a href="{% url "website:index" %}">Home</a></li>
            <li>-</li>
            <li>{{flatpage.title}}</li>
          </ul>
        </div><!-- container -->
      </div><!-- overlay -->
    </section><!-- page header -->
    <!-- Page Header End here -->


    <!-- Blog Post Start here -->
    <section class="blog-post padding-120">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="single-post">
              <div class="post-image">
                <img src="{% static "images/blog/post_01.jpg" %}" alt="post image" class="img-responsive">
              </div>
              <div class="post-content">
                {{flatpage.content|safe}}
              </div>
            </div><!-- single post -->
          </div>
          <div class="col-md-4">
            <div class="sidebar">              
            </div><!-- sidebar -->
          </div>
        </div>
      </div>
    </section>
  	<!-- Blog Post End here -->

{% endblock content %}
